body {
	font-family: Arial, sans-serif;
	background-image: url('https://media.istockphoto.com/id/1169630303/photo/blue-textured-background.jpg?b=1&s=170667a&w=0&k=20&c=tI2xFhXqXFqMM0IvxSYY3F7LIwv450h2ch3yD-lZ9HU=');
    background-size: cover;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color:#F9EBEA ;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	font-weight: bold;
	margin-bottom: 10px;
}

input, select, textarea {
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
}

button[type="submit"] {
	background-color: #2772b7;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color:#2772b7;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: #fff;
	padding: 10px;
  }
  
  .navbar a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
  }